modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
DISCORD_TOKEN = "MTQ3Njg1NDAxOTk2NzE1NjM1Nw.GtdXdi.jY0pFdcFBRcTAPHuPR8gyMleuYS3ruGqZ8GZzw"
DATABASE_URL = "postgres://bbd96ee3aa404a3ee619ba6f072550b742563a2540f7bc0713692ea180d86d44:sk_r02sTpxav4FgwQJRJGlVp@db.prisma.io:5432/postgres?sslmode=require&pool=true"
